@font-face {
  font-family: "iconfont"; /* Project id 3148181 */
  src: url('@/common/iconfont/iconfont.woff2?t=1644053637783') format('woff2'),
       url('@/common/iconfont/iconfont.woff?t=1644053637783') format('woff'),
       url('@/common/iconfont/iconfont.ttf?t=1644053637783') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuijinxiangmu:before {
  content: "\e641";
}

.icon-benyuexiaoshou:before {
  content: "\e6b4";
}

.icon-benzhou-:before {
  content: "\e60e";
}

.icon-jinri:before {
  content: "\e670";
}

.icon-benzhou:before {
  content: "\e627";
}

.icon-zhushou:before {
  content: "\e606";
}

.icon-changsuo:before {
  content: "\e604";
}

.icon-anjianneirong:before {
  content: "\e629";
}

.icon-jingqing:before {
  content: "\e603";
}

.icon-anjuan:before {
  content: "\e605";
}

.icon-caiwu:before {
  content: "\e60d";
}

.icon-icon_anjian_anjianxinxi_4:before {
  content: "\e696";
}

.icon-wenjianleixing-excel:before {
  content: "\e657";
}

.icon-wenjianleixing-biaozhuntu-PDFwendang:before {
  content: "\e6a6";
}

.icon-wenjianleixing-biaozhuntu-Wordwendang:before {
  content: "\e6a7";
}

.icon-wenjianleixing-biaozhuntu-shengyinwenjian:before {
  content: "\e6a5";
}

.icon-denglucishux:before {
  content: "\e602";
}

.icon-denglucishu:before {
  content: "\e645";
}

.icon-quxian:before {
  content: "\e6ec";
}

.icon-tubiaoshangshengqushi:before {
  content: "\e790";
}

.icon-tubiaoxiajiangqushi:before {
  content: "\e791";
}

.icon-fasongbaogao:before {
  content: "\e611";
}

.icon-shuju:before {
  content: "\e691";
}

.icon-shujutu:before {
  content: "\e68d";
}

.icon-anquanshengchantongbao:before {
  content: "\e64a";
}

.icon-icon_shijiantongbao:before {
  content: "\e652";
}

.icon-tongbaomokuai:before {
  content: "\e660";
}

.icon-shuju4:before {
  content: "\e6ef";
}

.icon-putongbaobei:before {
  content: "\e612";
}

.icon-mima:before {
  content: "\e620";
}

.icon-mima1:before {
  content: "\e653";
}

.icon-guanyu:before {
  content: "\e60c";
}

.icon-guanyu1:before {
  content: "\e634";
}

.icon-jianchagengxin:before {
  content: "\e823";
}

.icon-yuandian:before {
  content: "\e61a";
}

.icon-yuandian1:before {
  content: "\e628";
}

.icon-jurassic_report:before {
  content: "\e6b2";
}

.icon-jurassic_report1:before {
  content: "\e6b3";
}

.icon-tongxunluintouch01:before {
  content: "\e626";
}

.icon-tongxunlu01:before {
  content: "\e61b";
}

.icon-wodexuanzhong:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e601";
}

.icon-shouye-xuanzhong:before {
  content: "\e6c7";
}

.icon-shouye1:before {
  content: "\e818";
}

